@model List<ShopDto>
@{
    ViewData["Title"] = "Shops";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Shop</title>
</head>
<body>
    <div class="panel-body">
        <h2>Shops</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>OpeningTime</th>
                    <th>ClosingTime</th>
                    <th>Products</th>
                </tr>
            </thead>
            <tbody >
                @foreach ( var r in Model.OrderBy(s => s.ShopName))
                {
                    <tr class="overout">
                        <td>@r.ShopName</td>
                        <td>@r.ShopAddress</td>
                        <td>@r.OpeningTime</td>
                        <td >@r.ClosingTime</td>
                        <td><a asp-controller="Product" asp-action="GetProductsByShopId" asp-route-Id="@r.ShopId">Product</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
@section Scripts{ 
    <script>
        $(function () {
            $.datetimepicker.setDateFormatter('moment');
            $(".datetimefield").datetimepicker({
                format: 'MM/DD/YYYY hh:mm A',
                formatTime: 'h:mm A',
                minDate: new Date(),
                step: 30
                
            });
        });
    </script>

} 
